@import './index.scss';

$header-height: 60px;
$sidebar-width: 300px;

.todo {
  display: grid;
  grid-template-rows: $header-height calc(100vh - $header-height);
  grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);
  &__header {
    // grid-row-start: 1;
    // grid-row-end: 2;
    // grid-column-start: 1;
    // grid-column-end: -1;
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  &__sidebar {
    // grid-row-start: 2;
    // grid-row-end: -1;
    // grid-column-start: 1;
    // grid-column-start: 2;
    grid-row: 2/-1;
    grid-column: 1/2;
  }
  &___content {
    // grid-row-start: 2;
    // grid-row-end: -1;
    // grid-column-start: 2;
    // grid-column-start: -1;
    grid-row: 2/-1;
    grid-column: 2/-1;
  }
}

//Styling Header

.header {
  background-color: $primary;
  align-items: center;
  display: flex;
  gap: 20px;
  height: $header-height &__logo;
  padding: 5px 20px;
  &__logo {
    display: flex;
    font-size: 2.4rem;
    color: $white;
  }
  &__text {
    flex: 1;
    color: $white;
  }
  &__search {
    min-width: 300px;
  }
  &__search > input {
    border: none;
  }
}
